*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
.wrapper{
    background: linear-gradient(180deg , #009688 10%,#d8dbd6 10%);
    height: 100vh;
    position: relative;
    padding: 20px 0px 20px 0px;
}

.custom-green{
    background-color:#009688 ;
}

.chat-wrapper{
    width: 80%;
    height: 100%;
    background-color: rgb(234, 234, 234);
    margin: auto; 
    position: relative;

}

.chat-header{
    display: flex;
    height: 80px;
}

.chat-main{
    height: calc(100% - 80px);
}
.chat-wrapper .left{
    width: 30%;
}

.chat-wrapper .right{
    width: 70%;
}

.chat-header .left, .chat-main .left{
    border-right: 1px solid lightgray;
}

 .left, .right{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.icons > i{
    margin: 0px 5px 0px 5px;
    color: #b1b1b1;
    
}

.profile-img{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.profile-img img{
    
    margin-left: 10px;
    margin-right: 10px;
}

.circle{
    width: 50px;
    aspect-ratio: 1,1;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img .date{
    font-size: .8rem;
    color:#b1b1b1;
}

.user-box{
    height: 80px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.users{
    width: 100%;
    overflow: auto;
}

.chat-main .left{
    height: 100%;
    display: flex;
    justify-content: start;
    flex-flow: column;
}

.notification{
    background-color: #8edafc ;
    display: flex;
}

.notification .circle{
    background-color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #8edafc;
    margin-right: 5px;
}

.notification a{
    color: #b1b1b1;
}

.search{
    background-color: white;
    width: 100%;
    font-size: .8rem;
    height: 1.5rem;
    line-height: 1.5rem ;
}

.search i{
    color: #b1b1b1;
    margin: 0 10px;
}

.search input{
    border: none;
    width: calc(100% - 40px);
}

.time{
    justify-self: end;
    color: #b1b1b1;
}